<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

	<!-- 注解扫描 -->
	<context:component-scan base-package="com.etoak">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
		
	</context:component-scan>
	
	<!-- 开启mvc配置 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 静态文件交由servlet容器处理 -->
	<mvc:default-servlet-handler/>
	<mvc:resources location="file:d:/upload/" mapping="/pic/**"></mvc:resources>
	
	
	<bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver"
		id="templateResolver">
		<property name="prefix" value="/templates/" />
		<property name="suffix" value=".html"/>
		<property name="characterEncoding" value="UTF-8"/>
		<property name="templateMode" value="HTML"/>
		<!-- 在开发环境下设置成false，方便调试页面 -->
		<property name="cacheable" value="false" />
	</bean>
	
	<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>
	
	<bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>
	
	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<!-- 文件大小限制2MB -->
		<property name="maxUploadSize" value="2097152" />
	</bean>
	
	<!-- 
		@GetMapping("/index")
		public STring index(){
			return "index";
		}
	 -->
	<mvc:view-controller path="/" view-name="index" />
	<mvc:view-controller path="/user/toLogin" view-name="login" />
	
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 配置需要拦截的地址，/**表示拦截所有 -->
			<mvc:mapping path="/**"/>
			
			<!-- 配置不需要拦截的地址 -->
			<mvc:exclude-mapping path="/static/**"/>
			<mvc:exclude-mapping path="/code"/>
			<mvc:exclude-mapping path="/user/toLogin"/>
			<mvc:exclude-mapping path="/user/login"/>
			<bean class="com.etoak.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>












